# This .dockerignore file lists files and directories that should not be copied
# to the container when building the Docker image. This can help reduce the
# size of the final image and avoid copying unnecessary or sensitive files.

# IDE and build files
.classpath
.dockerignore
.env
.git
.gitignore
.project
.settings
.toolstarget
.vs
.vscode

# Next.js files
.next
.cache

# Visual Studio files
*.dbmdl
*.jfm

# ChartMuseum files
charts

# Docker-related files
docker-compose*
compose*
Dockerfile*

# Node.js files
node_modules
npm-debug.log

# Visual Studio Code debugging files
*.vscode/

# Build and distribution directories
build
dist

# License and README files
LICENSE
README.md

# Test and example files
test
example

# Operating system files
.DS_Store
Thumbs.db
