

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# For My SqL 
# DATABASE_URL='mysql://f5agcvhpq1msqmea6y7o:pscale_pw_4qVxYE0xRe65BOXULrJo7NpWG0rJHfQLuoDfTMvnKOc@aws.connect.psdb.cloud/ixamee?sslaccept=strict'

DATABASE_URL="postgresql://firaslatrach3:4UeEcshFgqR3@ep-polished-poetry-11915472-pooler.us-east-2.aws.neon.tech/ixamee?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://firaslatrach3:4UeEcshFgqR3@ep-polished-poetry-11915472.us-east-2.aws.neon.tech/ixamee?sslmode=require"








AUTH_SECRET="Ixamee-dafc1bde365e8c09ae5b02d46bae0558262a392e89d809ea3d1f113a87474b98"

GOOGLE_CLIENT_ID=283044349013-euocpp4rpt0rjr0cmqtujjrrbp0o95rn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

RESEND_API_KEY=re_cW55w6HB_BLtMcvuuNDMSGmN16GkskFiL

# NEXT_PUBLIC_APP_URL=https://api.stagging.ixamee.com

NEXT_PUBLIC_APP_URL="http://localhost:3000"